* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration-line: none
}

:root {
    --main-color-1: #001427;
    --main-color-2: #708d81;
    --main-color-3: #f4d58d;
    --main-color-4: #bf0603;
    --main-color-5: #8d0801;
    background-color: #f4d58d;
}