* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration-line: none;
}

:root {
  --main-color-1: #001427;
  --main-color-2: #708d81;
  --main-color-3: #f4d58d;
  --main-color-4: #bf0603;
  --main-color-5: #8d0801;
  background-color: #f4d58d;
}

.nav-container {
  display: flex;
  background-color: black;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  margin-left: 20px;
}

.banner-account {
  width: 10%;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.logo {
  width: 40px;
  border-radius: 100px;
  margin-left: 10px;
}

.nav-principal {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-around;
}

.nav-url {
  text-decoration: none;
  color: white;
  padding: 5px;
  margin-top: 10px;
}

.nav-url:hover {
  color: #8d0801;
}

.nombre-logo {
  color: #001427;
  text-decoration: none;
  font-weight: 700;
}

.img-logo {
  border-radius: 10px;
  width: 500px;
  height: 300px;
  border: 1px black solid;
  transition: transform 0.3s ease;
  margin: 15px;
}

.img-logo:hover {
  transform: scale(1.023);
}

.img-carrusel {
  width: 350px;
  height: 350px;
}

.principal-vh {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.vhflex {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}

.boton-vh {
  margin-top: 20px;
}

.logovh {
  width: 500px;
  border-radius: 500px;
  border-style: double;
}

.nav-footer {
  display: flex;
  background-color: black;
  flex-direction: column;
}

.logo-footer {
  height: 50px;
  margin-top: 40px;
  transition: transform 0.3s ease;
}

.logo-footer:hover {
  transform: scale(1.3);
}

.logo-footer-correccion {
  height: 50px;
  margin-top: 40px;
  transition: transform 0.3s ease;
}

.logo-footer-correccion:hover {
  transform: scale(1.3);
}

.logo-footer-correccion {
  height: 50px;
  margin-top: 40px;
  border-radius: 75px;
}

.nav-logo-footer {
  display: flex;
  justify-content: space-around;
  margin-left: 500px;
  margin-right: 500px;
}

#map {
  width: 400px;
  height: 200px;
}

.url-footer {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-top: 25px;
  margin-left: 400px;
  margin-right: 400px;
}

.footer {
  text-decoration: none;
  font-size: 15px;
}

.footer-final {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 45px;
}

.parrafo-gps {
  font-family: "Tektur", sans-serif;
  font-size: 17px;
  color: white;
}

#map {
  border-radius: 10px;
  border: #8d0801;
}

.footer:hover {
  color: #8d0801;
}

.footer {
  color: #ffffff;
}

.parrafo-marca {
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.categorias {
  display: flex;
}

#categorias {
  display: grid;
  width: 100%;
  grid-template-areas: "categoria-1 categoria-2" "categoria-3 categoria-4";
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

.categoria-1 {
  position: relative;
}

.principal-1 {
  font-family: "Tektur", sans-serif;
  font-size: 15px;
  position: absolute;
  top: 290px;
  left: 70px;
  background-color: chartreuse;
  padding: 5px;
  border-radius: 15px;
}

.categoria-2 {
  position: relative;
}

.principal-2 {
  font-family: "Tektur", sans-serif;
  font-size: 15px;
  position: absolute;
  top: 290px;
  left: 70px;
  background-color: chartreuse;
  padding: 5px;
  border-radius: 15px;
}

.categoria-3 {
  position: relative;
}

.principal-3 {
  font-family: "Tektur", sans-serif;
  font-size: 15px;
  position: absolute;
  top: 290px;
  left: 70px;
  background-color: chartreuse;
  padding: 5px;
  border-radius: 15px;
}

.categoria-4 {
  position: relative;
}

.principal-4 {
  font-family: "Tektur", sans-serif;
  font-size: 15px;
  position: absolute;
  top: 290px;
  left: 70px;
  background-color: chartreuse;
  padding: 5px;
  border-radius: 15px;
}

#paginaslushobox {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 30px;
  align-items: first baseline;
  justify-content: first baseline;
  grid-template-areas: "gps item1 item2 item3" "gps item4 item5 item6" "gps item7 item7 item7";
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}

.item5 {
  grid-area: item5;
}

.item6 {
  grid-area: item6;
}

.item7 {
  grid-area: item7;
}

.mapa {
  grid-area: gps;
}

.descript {
  position: relative;
  margin-top: 30px;
  display: block;
}

#gps {
  height: 1500px;
  width: 250px;
  margin-left: 25px;
  border: 10px yellow solid;
}

.paginas-gps {
  background-color: black;
  color: white;
  margin-left: 15px;
  padding: 5px;
  border-radius: 20px;
}

.link-gps {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.link-gps:hover {
  color: #8d0801;
}

.img-paginas {
  height: 150px;
  margin-top: 15px;
}

.img-paginas-correccion {
  width: 200px;
}

.descripcion {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 450px;
  font-family: "Tektur", sans-serif;
  font-size: 16px;
  color: #001427;
}

.precio {
  font-size: 25px;
  font-weight: bold;
}

#main {
  background-color: black;
  color: white;
  font-size: 50px;
  text-align: center;
  font-family: "Tektur", sans-serif;
  border-radius: 20px;
  margin-top: 60px;
}

.main-contacto {
  background-color: black;
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: "Tektur", sans-serif;
  border-radius: 20px;
  margin-top: 60px;
}

#mainp {
  margin-top: 30px;
  font-size: 25px;
  text-align: center;
  font-style: italic;
}

.informacion-cliente {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 10px;
  align-items: first baseline;
  justify-content: first baseline;
  grid-template-areas: "info info info" "nombre nombre nombre" "correo correo celular" "mensaje mensaje mensaje";
}

.informacion-cliente {
  grid-area: info;
}

.nombre {
  grid-area: nombre;
  height: 25px;
  padding: 20px 20px;
  background-color: rgb(227, 227, 227);
}

.celular {
  grid-area: celular;
  height: 25px;
  padding: 20px 20px;
  background-color: rgb(227, 227, 227);
}

.correo {
  grid-area: correo;
  height: 25px;
  padding: 20px 20px;
  background-color: rgb(227, 227, 227);
}

.mensaje {
  grid-area: mensaje;
  height: 100px;
  padding: 5px 15px;
  background-color: rgb(227, 227, 227);
}

.contacto-vh {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
  flex-wrap: wrap;
}

.contactos-predeterminados {
  padding: 70px;
}

.contacto-flex {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-right: 200px;
}

.img-contact {
  height: 50px;
  border-radius: 25px;
}

.descript-contact {
  margin-top: 25px;
}

.contacto-parrafo {
  list-style: none;
}

.main-contacto {
  font-size: 50px;
  width: 450px;
}

@media screen and (max-width: 2100px) {
  .banner-container {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    position: relative;
  }
  .list_chekbox {
    display: none;
  }
  .list_chekbox:checked + .nav-principal {
    height: calc(50vh - 54px);
  }
  .nav-cel {
    width: 100%;
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    padding: 7px 10px;
  }
  .nav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .nav-principal {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0px;
    align-items: center;
  }
  .nav-pgrande {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
  }
  .list_icon {
    display: none;
  }
  .nav-url {
    font-size: 10px;
  }
  .vhflex {
    width: 100%;
  }
  #main {
    width: 100%;
    font-size: 25px;
  }
  #mainp {
    width: 100%;
    font-size: 14px;
  }
  .img-logo {
    width: 100%;
    margin: 0px;
    margin-top: 40px;
  }
  #categorias {
    width: 100%;
    margin-left: 0;
  }
  #categorias {
    display: grid;
    width: 100%;
    grid-template-areas: "categoria-1 categoria-2" "categoria-3 categoria-4";
    justify-content: center;
  }
  .categoria-1 {
    width: 95%;
  }
  .categoria-2 {
    width: 95%;
  }
  .categoria-3 {
    width: 95%;
  }
  .categoria-4 {
    width: 95%;
  }
  .principal-1 {
    font-size: 10px;
    margin: 0px;
    padding: 3px;
    top: 327px;
    left: 120px;
  }
  .principal-2 {
    font-size: 10px;
    margin: 0px;
    padding: 3px;
    top: 327px;
    left: 120px;
  }
  .principal-3 {
    font-size: 10px;
    margin: 0px;
    padding: 3px;
    top: 327px;
    left: 120px;
  }
  .principal-4 {
    font-size: 10px;
    margin: 0px;
    padding: 3px;
    top: 327px;
    left: 120px;
  }
  .footer-nav {
    width: 100%;
  }
  .nav-footer {
    display: flex;
    width: 100%;
    margin-top: 150px;
  }
  .footer-final {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .nav-logo-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    justify-content: space-around;
  }
  .url-footer {
    display: flex;
    justify-content: center;
  }
  .footer {
    padding: 10px 25px;
  }
  .footer-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .parrafo-gps {
    width: 320px;
    font-size: 10px;
    padding: 5px;
    margin-top: 50px;
    text-align: center;
  }
  #paginaslushobox {
    margin: 0px;
  }
  #map {
    width: 320px;
    padding: 5px;
  }
  .paginas-gps {
    font-size: 10px;
    margin: 0px;
    margin-top: 100px;
  }
  #gps {
    margin: 0px;
    width: 100%;
    margin-top: 20px;
    height: 1500px;
  }
  #paginaslushobox {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 30px;
    align-items: first baseline;
    justify-content: first baseline;
    margin: 10px 10px;
    grid-template-areas: "gps item1 item2 item3" "gps item4 item5 item6" "gps item7 item7 item7";
  }
  .descripcion {
    width: 300px;
  }
  .contacto-vh {
    width: 100%;
    margin-top: 54px;
  }
  .contacto-flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0px;
    margin: 0px;
    align-items: baseline;
    gap: 5%;
  }
  .contactos-predeterminados {
    width: 40%;
    padding: 0;
  }
  .info-relleno {
    width: 50%;
  }
  .main-contacto {
    width: 100%;
  }
  .informacion-cliente {
    margin: 0px;
    padding: 0px;
  }
  .informacion-cliente {
    display: grid;
    width: 100%;
    margin-left: 10px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 10px;
    align-items: first baseline;
    justify-content: first baseline;
    grid-template-areas: "info" "nombre" "correo" "celular" "mensaje";
  }
  .nombre {
    padding: 2px;
    font-size: 10px;
  }
  .celular {
    padding: 2px;
    font-size: 10px;
  }
  .correo {
    padding: 2px;
    font-size: 10px;
  }
  .mensaje {
    padding: 2px;
    font-size: 10px;
  }
}
@media screen and (max-width: 1200px) {
  .banner-container {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    position: relative;
  }
  .list_chekbox {
    display: none;
  }
  .list_chekbox:checked + .nav-principal {
    height: calc(50vh - 54px);
  }
  .nav-cel {
    width: 100%;
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    padding: 7px 10px;
  }
  .nav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .nav-principal {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0px;
    align-items: center;
  }
  .nav-pgrande {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
  }
  .list_icon {
    display: none;
  }
  .nav-url {
    font-size: 10px;
  }
  .vhflex {
    width: 100%;
  }
  #main {
    width: 100%;
    font-size: 25px;
  }
  #mainp {
    width: 100%;
    font-size: 14px;
  }
  .img-logo {
    width: 100%;
    margin: 0px;
    margin-top: 40px;
  }
  #categorias {
    width: 100%;
    margin-left: 0;
  }
  #categorias {
    display: grid;
    width: 100%;
    grid-template-areas: "categoria-1 categoria-2" "categoria-3 categoria-4";
    justify-content: center;
  }
  .categoria-1 {
    width: 95%;
  }
  .categoria-2 {
    width: 95%;
  }
  .categoria-3 {
    width: 95%;
  }
  .categoria-4 {
    width: 95%;
  }
  .principal-1 {
    font-size: 10px;
    margin: 0px;
    padding: 3px;
    top: 327px;
    left: 120px;
  }
  .principal-2 {
    font-size: 10px;
    margin: 0px;
    padding: 3px;
    top: 327px;
    left: 120px;
  }
  .principal-3 {
    font-size: 10px;
    margin: 0px;
    padding: 3px;
    top: 327px;
    left: 120px;
  }
  .principal-4 {
    font-size: 10px;
    margin: 0px;
    padding: 3px;
    top: 327px;
    left: 120px;
  }
  .footer-nav {
    width: 100%;
  }
  .nav-footer {
    display: flex;
    width: 100%;
    margin-top: 150px;
  }
  .footer-final {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .nav-logo-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    justify-content: space-around;
  }
  .url-footer {
    display: flex;
    justify-content: center;
  }
  .footer {
    padding: 10px 25px;
  }
  .footer-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .parrafo-gps {
    width: 320px;
    font-size: 10px;
    padding: 5px;
    margin-top: 50px;
    text-align: center;
  }
  #paginaslushobox {
    margin: 0px;
  }
  #map {
    width: 320px;
    padding: 5px;
  }
  .paginas-gps {
    font-size: 10px;
    margin: 0px;
    margin-top: 100px;
  }
  #gps {
    margin: 0px;
    width: 100%;
    margin-top: 20px;
    height: 1500px;
  }
  #paginaslushobox {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 30px;
    align-items: first baseline;
    justify-content: first baseline;
    margin: 10px 10px;
    grid-template-areas: "gps item1 item2 item3" "gps item4 item5 item6" "gps item7 item7 item7";
  }
  .descripcion {
    width: 300px;
  }
  .contacto-vh {
    width: 100%;
    margin-top: 54px;
  }
  .contacto-flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0px;
    margin: 0px;
    align-items: baseline;
    gap: 5%;
  }
  .contactos-predeterminados {
    width: 40%;
    padding: 0;
  }
  .info-relleno {
    width: 50%;
  }
  .main-contacto {
    width: 100%;
  }
  .informacion-cliente {
    margin: 0px;
    padding: 0px;
  }
  .informacion-cliente {
    display: grid;
    width: 100%;
    margin-left: 10px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 10px;
    align-items: first baseline;
    justify-content: first baseline;
    grid-template-areas: "info" "nombre" "correo" "celular" "mensaje";
  }
  .nombre {
    padding: 2px;
    font-size: 10px;
  }
  .celular {
    padding: 2px;
    font-size: 10px;
  }
  .correo {
    padding: 2px;
    font-size: 10px;
  }
  .mensaje {
    padding: 2px;
    font-size: 10px;
  }
}
@media screen and (max-width: 992px) {
  .banner-container {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    position: relative;
  }
  .list_chekbox {
    display: none;
  }
  .list_chekbox:checked + .nav-principal {
    height: calc(50vh - 54px);
  }
  .nav-cel {
    width: 100%;
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    padding: 7px 10px;
  }
  .nav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .nav-principal {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0px;
    align-items: center;
  }
  .nav-pgrande {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
  }
  .list_icon {
    display: none;
  }
  .nav-url {
    font-size: 10px;
  }
  .vhflex {
    width: 100%;
  }
  #main {
    width: 100%;
    font-size: 25px;
  }
  #mainp {
    width: 100%;
    font-size: 14px;
  }
  .img-logo {
    width: 100%;
    margin: 0px;
    margin-top: 40px;
  }
  #categorias {
    width: 100%;
    margin-left: 0;
  }
  #categorias {
    display: grid;
    width: 100%;
    grid-template-areas: "categoria-1 categoria-2" "categoria-3 categoria-4";
    justify-content: center;
  }
  .categoria-1 {
    width: 95%;
  }
  .categoria-2 {
    width: 95%;
  }
  .categoria-3 {
    width: 95%;
  }
  .categoria-4 {
    width: 95%;
  }
  .principal-1 {
    font-size: 10px;
    margin: 0px;
    padding: 3px;
    top: 327px;
    left: 120px;
  }
  .principal-2 {
    font-size: 10px;
    margin: 0px;
    padding: 3px;
    top: 327px;
    left: 120px;
  }
  .principal-3 {
    font-size: 10px;
    margin: 0px;
    padding: 3px;
    top: 327px;
    left: 120px;
  }
  .principal-4 {
    font-size: 10px;
    margin: 0px;
    padding: 3px;
    top: 327px;
    left: 120px;
  }
  .footer-nav {
    width: 100%;
  }
  .nav-footer {
    display: flex;
    width: 100%;
    margin-top: 300px;
  }
  .footer-final {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .nav-logo-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
  }
  .url-footer {
    display: flex;
    justify-content: center;
  }
  .footer {
    padding: 10px 25px;
  }
  .footer-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .parrafo-gps {
    width: 320px;
    font-size: 10px;
    padding: 5px;
    margin-top: 50px;
    text-align: center;
  }
  #paginaslushobox {
    margin: 0px;
  }
  #map {
    width: 320px;
    padding: 5px;
  }
  .paginas-gps {
    font-size: 10px;
    margin: 0px;
    margin-top: 100px;
  }
  #gps {
    margin: 0px;
    width: 100%;
    margin-top: 20px;
    height: auto;
  }
  #paginaslushobox {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 30px;
    align-items: first baseline;
    justify-content: first baseline;
    margin: 10px 10px;
    grid-template-areas: "gps gps" "item1 item2" "item3 item4" "item5 item6" "item7 item7";
  }
  .descripcion {
    width: 300px;
  }
  .contacto-vh {
    width: 100%;
    margin-top: 54px;
  }
  .contacto-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    margin: 0px;
    align-items: center;
  }
  .contactos-predeterminados {
    width: 80%;
    padding: 0;
  }
  .info-relleno {
    width: 80%;
  }
  .main-contacto {
    width: 100%;
  }
  .informacion-cliente {
    margin: 0px;
    padding: 0px;
  }
  .informacion-cliente {
    display: grid;
    width: 100%;
    margin-left: 10px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 10px;
    align-items: first baseline;
    justify-content: first baseline;
    grid-template-areas: "info" "nombre" "correo" "celular" "mensaje";
  }
  .nombre {
    padding: 2px;
    font-size: 10px;
  }
  .celular {
    padding: 2px;
    font-size: 10px;
  }
  .correo {
    padding: 2px;
    font-size: 10px;
  }
  .mensaje {
    padding: 2px;
    font-size: 10px;
  }
}
@media screen and (max-width: 768px) {
  .banner-container {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    position: relative;
  }
  .banner-account {
    display: none;
  }
  .list_chekbox {
    display: none;
  }
  .list_chekbox:checked + .nav-principal {
    height: calc(50vh - 54px);
  }
  .nav-cel {
    width: 100%;
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    padding: 7px 10px;
  }
  .nav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .nav-principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;
    position: absolute;
    background-color: rgb(39, 39, 39);
    top: 54px;
    height: 0;
    overflow: hidden;
    gap: 5px;
    left: 0;
    transition: all 0.4s;
  }
  .list_icon {
    display: block;
    color: white;
    cursor: pointer;
  }
  .nav-url {
    font-size: 10px;
  }
  .vhflex {
    width: 100%;
  }
  #main {
    width: 100%;
    font-size: 25px;
  }
  #mainp {
    width: 100%;
    font-size: 14px;
  }
  .img-logo {
    margin: 0px;
    margin-top: 40px;
  }
  #categorias {
    width: 100%;
    margin-left: 0;
  }
  #categorias {
    display: grid;
    width: 100%;
    grid-template-areas: "categoria-1" "categoria-2" "categoria-3" "categoria-4";
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 100px;
  }
  .categoria-1 {
    width: 100%;
  }
  .categoria-2 {
    width: 100%;
  }
  .categoria-3 {
    width: 100%;
  }
  .categoria-4 {
    width: 100%;
  }
  .principal-1 {
    font-size: 10px;
    margin: 0px;
    padding: 3px;
    top: 327px;
    left: 120px;
  }
  .principal-2 {
    font-size: 10px;
    margin: 0px;
    padding: 3px;
    top: 327px;
    left: 120px;
  }
  .principal-3 {
    font-size: 10px;
    margin: 0px;
    padding: 3px;
    top: 327px;
    left: 120px;
  }
  .principal-4 {
    font-size: 10px;
    margin: 0px;
    padding: 3px;
    top: 327px;
    left: 120px;
  }
  .footer-nav {
    width: 100%;
  }
  .nav-footer {
    display: flex;
    width: 100%;
    margin-top: 340px;
  }
  .footer-final {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .nav-logo-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
  }
  .url-footer {
    display: none;
  }
  .footer-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .parrafo-gps {
    width: 320px;
    font-size: 10px;
    padding: 5px;
    margin-top: 50px;
    text-align: center;
  }
  #paginaslushobox {
    margin: 0px;
  }
  #map {
    width: 320px;
    padding: 5px;
  }
  .paginas-gps {
    font-size: 10px;
    margin: 0px;
    margin-top: 100px;
  }
  #gps {
    margin: 0px;
    width: 100%;
    margin-top: 20px;
    height: auto;
  }
  #paginaslushobox {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 30px;
    align-items: first baseline;
    justify-content: first baseline;
    margin: 10px 10px;
    grid-template-areas: "gps gps" "item1 item2" "item3 item4" "item5 item6" "item7 item7";
  }
  .descripcion {
    width: 300px;
  }
  .contacto-vh {
    width: 100%;
    margin-top: 54px;
  }
  .contacto-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    margin: 0px;
    align-items: center;
  }
  .contactos-predeterminados {
    width: 80%;
    padding: 0;
  }
  .info-relleno {
    width: 80%;
  }
  .main-contacto {
    width: 100%;
  }
  .informacion-cliente {
    margin: 0px;
    padding: 0px;
  }
  .informacion-cliente {
    display: grid;
    width: 100%;
    margin-left: 10px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 10px;
    align-items: first baseline;
    justify-content: first baseline;
    grid-template-areas: "info" "nombre" "correo" "celular" "mensaje";
  }
  .nombre {
    padding: 2px;
    font-size: 10px;
  }
  .celular {
    padding: 2px;
    font-size: 10px;
  }
  .correo {
    padding: 2px;
    font-size: 10px;
  }
  .mensaje {
    padding: 2px;
    font-size: 10px;
  }
}
@media screen and (max-width: 576px) {
  .banner-container {
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    position: relative;
  }
  .nombre-logo {
    display: none;
  }
  .banner-account {
    display: none;
  }
  .list_chekbox {
    display: none;
  }
  .list_chekbox:checked + .nav-principal {
    height: calc(50vh - 54px);
  }
  .nav-cel {
    width: 100%;
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    padding: 7px 10px;
  }
  .nav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .nav-principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;
    position: absolute;
    background-color: rgb(39, 39, 39);
    top: 54px;
    height: 0;
    overflow: hidden;
    gap: 5px;
    left: 0;
    transition: all 0.4s;
  }
  .list_icon {
    display: block;
    color: white;
    cursor: pointer;
  }
  .nav-url {
    font-size: 10px;
  }
  .vhflex {
    width: 100%;
  }
  #main {
    width: 100%;
    font-size: 25px;
  }
  #mainp {
    width: 100%;
    font-size: 14px;
  }
  .img-logo {
    margin: 0px;
    margin-top: 40px;
  }
  #categorias {
    width: 100%;
    margin-left: 0;
  }
  #categorias {
    display: grid;
    width: 100%;
    grid-template-areas: "categoria-1" "categoria-2" "categoria-3" "categoria-4";
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 100px;
  }
  .categoria-1 {
    width: 100%;
  }
  .categoria-2 {
    width: 100%;
  }
  .categoria-3 {
    width: 100%;
  }
  .categoria-4 {
    width: 100%;
  }
  .principal-1 {
    font-size: 10px;
    margin: 0px;
    padding: 3px;
    top: 327px;
    left: 120px;
  }
  .principal-2 {
    font-size: 10px;
    margin: 0px;
    padding: 3px;
    top: 327px;
    left: 120px;
  }
  .principal-3 {
    font-size: 10px;
    margin: 0px;
    padding: 3px;
    top: 327px;
    left: 120px;
  }
  .principal-4 {
    font-size: 10px;
    margin: 0px;
    padding: 3px;
    top: 327px;
    left: 120px;
  }
  .footer-nav {
    width: 100%;
  }
  .nav-footer {
    display: flex;
    width: 100%;
    margin-top: 200px;
  }
  .nav-logo-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .url-footer {
    display: none;
  }
  .footer-responsive {
    width: 100%;
  }
  .parrafo-gps {
    width: 320px;
    font-size: 10px;
    padding: 5px;
  }
  #paginaslushobox {
    margin: 0px;
  }
  #map {
    width: 300px;
    padding: 5px;
  }
  .paginas-gps {
    font-size: 10px;
    margin: 0px;
    margin-top: 100px;
  }
  #gps {
    margin: 0px;
    width: 100%;
    margin-top: 20px;
    height: auto;
  }
  #paginaslushobox {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 30px;
    align-items: first baseline;
    justify-content: first baseline;
    margin: 10px 10px;
    grid-template-areas: "gps gps" "item1 item2" "item3 item4" "item5 item6" "item7 item7";
  }
  .descripcion {
    width: 300px;
  }
  .info-contacto {
    display: none;
  }
  .contacto-vh {
    width: 100%;
    margin-top: 54px;
  }
  .contacto-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    margin: 0px;
    align-items: center;
  }
  .contactos-predeterminados {
    width: 75%;
    padding: 5px;
  }
  .info-relleno {
    width: 80%;
  }
  .main-contacto {
    width: 100%;
  }
  .informacion-cliente {
    margin: 0px;
    padding: 0px;
  }
  .informacion-cliente {
    display: grid;
    width: 100%;
    margin-left: 10px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 10px;
    align-items: first baseline;
    justify-content: first baseline;
    grid-template-areas: "info" "nombre" "correo" "celular" "mensaje";
  }
  .nombre {
    padding: 2px;
    font-size: 10px;
  }
  .celular {
    padding: 2px;
    font-size: 10px;
  }
  .correo {
    padding: 2px;
    font-size: 10px;
  }
  .mensaje {
    padding: 2px;
    font-size: 10px;
  }
}
@media screen and (max-width: 320px) {
  .banner-container {
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    position: relative;
  }
  .banner-account {
    display: none;
  }
  .list_chekbox {
    display: none;
  }
  .list_chekbox:checked + .nav-principal {
    height: calc(50vh - 54px);
  }
  .nav-cel {
    width: 100%;
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    padding: 7px 10px;
  }
  .nav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .nav-principal {
    width: 100% px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;
    position: absolute;
    background-color: rgb(39, 39, 39);
    top: 54px;
    height: 0;
    overflow: hidden;
    gap: 5px;
    left: 0;
    transition: all 0.4s;
  }
  .list_icon {
    display: block;
    color: white;
    cursor: pointer;
  }
  .nav-url {
    font-size: 10px;
  }
  .vhflex {
    width: 100%;
  }
  #main {
    width: 320px;
    font-size: 25px;
  }
  #mainp {
    width: 320px;
    font-size: 14px;
  }
  .img-logo {
    margin: 0px;
    height: 200px;
    width: 300px;
    margin-top: 40px;
  }
  .img-carrusel {
    width: 80%;
    height: auto;
  }
  #categorias {
    width: 100%;
    margin-left: 0;
  }
  .categoria-1 {
    width: 80%;
  }
  .principal-1 {
    font-size: 10px;
    margin: 0px;
    padding: 3px;
    top: 225px;
    left: 25px;
  }
  .principal-2 {
    font-size: 10px;
    margin: 0px;
    padding: 3px;
    top: 225px;
    left: 25px;
  }
  .principal-3 {
    font-size: 10px;
    margin: 0px;
    padding: 3px;
    top: 225px;
    left: 25px;
  }
  .principal-4 {
    font-size: 10px;
    margin: 0px;
    padding: 3px;
    top: 225px;
    left: 25px;
  }
  .footer-nav {
    width: 320px;
  }
  .nav-footer {
    display: flex;
    width: 320px;
  }
  .nav-logo-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .url-footer {
    display: none;
  }
  .footer-responsive {
    width: 320px;
  }
  .parrafo-gps {
    width: 320px;
    font-size: 10px;
    padding: 5px;
  }
  #paginaslushobox {
    margin: 0px;
  }
  #map {
    width: 300px;
    padding: 5px;
  }
  .mapa {
    width: 80%;
  }
  .paginas-gps {
    font-size: 10px;
    margin: 0px;
    margin-top: 100px;
  }
  #gps {
    margin: 0px;
    width: 300px;
    margin-top: 20px;
    height: auto;
  }
  #paginaslushobox {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    gap: 30px;
    align-items: first baseline;
    justify-content: first baseline;
    margin-left: 10px;
    grid-template-areas: "gps" "item1" "item2" "item3" "item4" "item5" "item6" "item7";
  }
  .descripcion {
    width: 300px;
  }
  .nav-footer {
    margin-top: 35px;
  }
  .footer-final {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  .contacto-vh {
    width: 100%;
    margin-top: 54px;
  }
  .contacto-flex {
    display: flex;
    flex-direction: column;
    width: 320px;
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
  }
  .main-contacto {
    display: none;
  }
  .nav-footer {
    margin-top: 220px;
  }
  .informacion-cliente {
    margin: 0px;
    padding: 0px;
  }
  .informacion-cliente {
    display: grid;
    width: 100%;
    margin-left: 0px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 10px;
    align-items: first baseline;
    justify-content: first baseline;
    grid-template-areas: "info" "nombre" "correo" "celular" "mensaje";
  }
  .nombre {
    padding: 2px;
    font-size: 10px;
  }
  .celular {
    padding: 2px;
    font-size: 10px;
  }
  .correo {
    padding: 2px;
    font-size: 10px;
  }
  .mensaje {
    padding: 2px;
    font-size: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
