* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration-line: none;
}

:root {
  --main-color-1: #001427;
  --main-color-2: #708d81;
  --main-color-3: #f4d58d;
  --main-color-4: #bf0603;
  --main-color-5: #8d0801;
  background-color: #f4d58d;
}

.max {
  max-width: 1200px;
}

.img-carrusel {
  width: 320px;
  height: 350px;
}

.nav-container {
  display: flex;
  background-color: black;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}
.nav-container .nav-cel .banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  font-size: 14px;
}
.nav-container .nav-cel .banner-container .nombre-logo {
  color: #001427;
  text-decoration: none;
  font-weight: 700;
}
.nav-container .nav-cel .banner-container .logo {
  width: 40px;
  border-radius: 100px;
  margin-left: 10px;
}
.nav-container .nav-pgrande .banner-account {
  width: 10%;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
.nav-container .nav-pgrande .banner-account .logo {
  width: 40px;
  border-radius: 100px;
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .nav-container .nav-pgrande .banner-account .logo {
    display: none;
  }
}
.nav-container .nav-pgrande .nav-principal {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-around;
}
.nav-container .nav-pgrande .nav-principal .nav-url {
  text-decoration: none;
  color: white;
  padding: 5px;
  margin-top: 10px;
}
.nav-container .nav-pgrande .nav-principal .nav-url:hover {
  color: #8d0801;
}

.principal-vh {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.principal-vh .vhflex {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}
.principal-vh .vhflex .boton-vh {
  margin-top: 20px;
}
.principal-vh .vhflex .bannerrigth #main {
  background-color: black;
  color: white;
  font-size: 50px;
  text-align: center;
  font-family: "Tektur", sans-serif;
  border-radius: 20px;
  margin-top: 60px;
}
.principal-vh .vhflex .bannerrigth #mainp {
  margin-top: 30px;
  font-size: 25px;
  text-align: center;
  font-style: italic;
}

.nav-footer {
  display: flex;
  background-color: black;
  flex-direction: column;
}
.nav-footer .footer-nav .nav-logo-footer {
  display: flex;
  justify-content: space-around;
}
.nav-footer .footer-nav .nav-logo-footer .logo-footer {
  height: 50px;
  margin-top: 40px;
  transition: transform 0.3s ease;
}
.nav-footer .footer-nav .nav-logo-footer .logo-footer:hover {
  transform: scale(1.3);
}
.nav-footer .footer-nav .nav-logo-footer .logo-footer-correccion {
  height: 50px;
  margin-top: 40px;
  border-radius: 75px;
  transition: transform 0.3s ease;
}
.nav-footer .footer-nav .nav-logo-footer .logo-footer-correccion:hover {
  transform: scale(1.3);
}
.nav-footer .footer-nav .url-footer {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-top: 25px;
}
.nav-footer .footer-nav .url-footer .footer {
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
}
.nav-footer .footer-nav .url-footer .footer:hover {
  color: #8d0801;
}
.nav-footer .footer-final {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
}
.nav-footer .footer-final .footer-responsive .parrafo-gps {
  font-family: "Tektur", sans-serif;
  font-size: 17px;
  color: white;
}
.nav-footer .footer-final .footer-responsive #map {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  border: #8d0801;
}
.nav-footer .marca .parrafo-marca {
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

#categorias {
  display: grid;
  width: 100%;
  grid-template-areas: "categoria-1 categoria-2" "categoria-3 categoria-4";
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 100px;
}
#categorias .categoria-1 {
  position: relative;
}
#categorias .categoria-1 .img-logo {
  border-radius: 10px;
  width: 500px;
  height: 300px;
  border: 1px black solid;
  transition: transform 0.3s ease;
  margin: 15px;
}
#categorias .categoria-1 .img-logo:hover {
  transform: scale(1.023);
}
#categorias .categoria-2 {
  position: relative;
}
#categorias .categoria-2 .img-logo {
  border-radius: 10px;
  width: 500px;
  height: 300px;
  border: 1px black solid;
  transition: transform 0.3s ease;
  margin: 15px;
}
#categorias .categoria-2 .img-logo:hover {
  transform: scale(1.023);
}
#categorias .categoria-3 {
  position: relative;
}
#categorias .categoria-3 .img-logo {
  border-radius: 10px;
  width: 500px;
  height: 300px;
  border: 1px black solid;
  transition: transform 0.3s ease;
  margin: 15px;
}
#categorias .categoria-3 .img-logo:hover {
  transform: scale(1.023);
}
#categorias .categoria-4 {
  position: relative;
}
#categorias .categoria-4 .img-logo {
  border-radius: 10px;
  width: 500px;
  height: 300px;
  border: 1px black solid;
  transition: transform 0.3s ease;
  margin: 15px;
}
#categorias .categoria-4 .img-logo:hover {
  transform: scale(1.023);
}

#paginaslushobox {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 30px;
  align-items: first baseline;
  justify-content: first baseline;
  grid-template-areas: "gps item1 item2 item3" "gps item4 item5 item6" "gps item7 item7 item7";
}
#paginaslushobox .mapa {
  grid-area: gps;
}
#paginaslushobox .mapa .paginas-gps {
  background-color: black;
  color: white;
  margin-left: 15px;
  padding: 5px;
  border-radius: 20px;
}
#paginaslushobox .mapa #gps {
  height: 1500px;
  width: 250px;
  margin-left: 25px;
  border: 10px yellow solid;
}
#paginaslushobox .mapa .link-gps {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
#paginaslushobox .mapa .link-gps:hover {
  color: #8d0801;
}
#paginaslushobox .item1 {
  grid-area: item1;
}
#paginaslushobox .item1 .descript {
  position: relative;
  margin-top: 30px;
  display: block;
}
#paginaslushobox .item1 .descript .descripcion {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 450px;
  font-family: "Tektur", sans-serif;
  font-size: 16px;
  color: #001427;
}
#paginaslushobox .item1 .img-paginas {
  height: 150px;
  margin-top: 15px;
}
#paginaslushobox .item1 .precio {
  font-size: 25px;
  font-weight: bold;
}
#paginaslushobox .item2 {
  grid-area: item2;
}
#paginaslushobox .item2 .descript {
  position: relative;
  margin-top: 30px;
  display: block;
}
#paginaslushobox .item2 .descript .descripcion {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 450px;
  font-family: "Tektur", sans-serif;
  font-size: 16px;
  color: #001427;
}
#paginaslushobox .item2 .img-paginas-correccion {
  width: 200px;
}
#paginaslushobox .item2 .precio {
  font-size: 25px;
  font-weight: bold;
}
#paginaslushobox .item3 {
  grid-area: item3;
}
#paginaslushobox .item3 .descript {
  position: relative;
  margin-top: 30px;
  display: block;
}
#paginaslushobox .item3 .descript .descripcion {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 450px;
  font-family: "Tektur", sans-serif;
  font-size: 16px;
  color: #001427;
}
#paginaslushobox .item3 .img-paginas-correccion {
  width: 200px;
}
#paginaslushobox .item3 .precio {
  font-size: 25px;
  font-weight: bold;
}
#paginaslushobox .item4 {
  grid-area: item4;
}
#paginaslushobox .item4 .descript {
  position: relative;
  margin-top: 30px;
  display: block;
}
#paginaslushobox .item4 .descript .descripcion {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 450px;
  font-family: "Tektur", sans-serif;
  font-size: 16px;
  color: #001427;
}
#paginaslushobox .item4 .img-paginas-correccion {
  width: 200px;
}
#paginaslushobox .item4 .precio {
  font-size: 25px;
  font-weight: bold;
}
#paginaslushobox .item5 {
  grid-area: item5;
}
#paginaslushobox .item5 .descript {
  position: relative;
  margin-top: 30px;
  display: block;
}
#paginaslushobox .item5 .descript .descripcion {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 450px;
  font-family: "Tektur", sans-serif;
  font-size: 16px;
  color: #001427;
}
#paginaslushobox .item5 .img-paginas {
  height: 150px;
  margin-top: 15px;
}
#paginaslushobox .item5 .precio {
  font-size: 25px;
  font-weight: bold;
}
#paginaslushobox .item6 {
  grid-area: item6;
}
#paginaslushobox .item6 .descript {
  position: relative;
  margin-top: 30px;
  display: block;
}
#paginaslushobox .item6 .descript .descripcion {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 450px;
  font-family: "Tektur", sans-serif;
  font-size: 16px;
  color: #001427;
}
#paginaslushobox .item6 .img-paginas {
  height: 150px;
  margin-top: 15px;
}
#paginaslushobox .item6 .precio {
  font-size: 25px;
  font-weight: bold;
}
#paginaslushobox .item7 {
  grid-area: item7;
}
#paginaslushobox .item7 .descript {
  position: relative;
  margin-top: 30px;
  display: block;
}
#paginaslushobox .item7 .descript .descripcion {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 450px;
  font-family: "Tektur", sans-serif;
  font-size: 16px;
  color: #001427;
}
#paginaslushobox .item7 .img-paginas {
  height: 150px;
  margin-top: 15px;
}
#paginaslushobox .item7 .precio {
  font-size: 25px;
  font-weight: bold;
}

.contacto-vh {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
  flex-wrap: wrap;
}
.contacto-vh .h-principal .main-contacto {
  background-color: black;
  color: white;
  text-align: center;
  font-family: "Tektur", sans-serif;
  border-radius: 20px;
  margin-top: 60px;
  font-size: 50px;
  width: 450px;
}
@media screen and (max-width: 768px) {
  .contacto-vh .h-principal .main-contacto {
    display: none;
  }
}
.contacto-vh .contacto-flex {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-right: 200px;
}
.contacto-vh .contacto-flex .contactos-predeterminados {
  padding: 70px;
}
.contacto-vh .contacto-flex .contactos-predeterminados .sass-1 .descript-contact {
  margin-top: 25px;
}
.contacto-vh .contacto-flex .contactos-predeterminados .sass-1 .contacto-parrafo {
  list-style: none;
}
.contacto-vh .contacto-flex .contactos-predeterminados .sass-2 descript-contact {
  margin-top: 25px;
}
.contacto-vh .contacto-flex .contactos-predeterminados .sass-2 .logo-contacto .img-contact {
  height: 50px;
  border-radius: 25px;
}
.contacto-vh .contacto-flex .contactos-predeterminados .sass-3 descript-contact {
  margin-top: 25px;
}
.contacto-vh .contacto-flex .info-relleno descript-contact {
  margin-top: 25px;
}
.contacto-vh .contacto-flex .info-relleno .informacion-cliente {
  grid-area: info;
}
.contacto-vh .contacto-flex .info-relleno .informacion-cliente .nombre {
  grid-area: nombre;
  height: 25px;
  padding: 20px 20px;
  background-color: rgb(227, 227, 227);
}
.contacto-vh .contacto-flex .info-relleno .informacion-cliente .celular {
  grid-area: celular;
  height: 25px;
  padding: 20px 20px;
  background-color: rgb(227, 227, 227);
}
.contacto-vh .contacto-flex .info-relleno .informacion-cliente .correo {
  grid-area: correo;
  height: 25px;
  padding: 20px 20px;
  background-color: rgb(227, 227, 227);
}
.contacto-vh .contacto-flex .info-relleno .informacion-cliente .mensaje {
  grid-area: mensaje;
  height: 100px;
  padding: 5px 15px;
  background-color: rgb(227, 227, 227);
}
.contacto-vh .contacto-flex .info-relleno .informacion-cliente {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 10px;
  align-items: first baseline;
  justify-content: first baseline;
  grid-template-areas: "info info info" "nombre nombre nombre" "correo correo celular" "mensaje mensaje mensaje";
}

@media screen and (max-width: 4000px) {
  .nav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .nav-container .nav-cel {
    width: 100%;
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    padding: 7px 10px;
  }
  .nav-container .nav-cel .banner-container {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    position: relative;
  }
  .nav-container .nav-cel .banner-container .nombre-logo {
    font-size: 30px;
  }
  .nav-container .nav-cel .banner-container .logo {
    width: 70px;
  }
  .nav-container .nav-cel .nav-pgrande {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
  }
  .nav-container .nav-cel .nav-pgrande .nav-principal {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0px;
    align-items: center;
  }
  .nav-container .nav-cel .nav-pgrande .nav-principal .nav-url {
    font-size: 17px;
  }
  .nav-container .nav-cel .nav-pgrande .banner-account .logo {
    width: 70px;
  }
  .principial-vh .vhflex {
    width: 100%;
  }
  .principial-vh .vhflex .bannerrigth #main {
    width: 100%;
    font-size: 14px;
  }
  .principial-vh .vhflex .bannerrigth #main {
    width: 100%;
    font-size: 25px;
  }
  .principial-vh .vhflex #carouselExampleSlidesOnly .carousel-inner .carousel-item .img-carrusel {
    width: 700px;
    height: auto;
  }
  #categorias {
    display: grid;
    width: 100%;
    grid-template-areas: "categoria-1 categoria-2" "categoria-3 categoria-4";
    justify-content: center;
  }
  #categorias {
    width: 100%;
    margin-left: 0;
  }
  #categorias .categoria-1 {
    width: 95%;
  }
  #categorias .categoria-1 .img-logo {
    width: 100%;
    margin: 0px;
    margin-top: 40px;
  }
  #categorias .categoria-2 {
    width: 95%;
  }
  #categorias .categoria-2 .img-logo {
    width: 100%;
    margin: 0px;
    margin-top: 40px;
  }
  #categorias .categoria-3 {
    width: 95%;
  }
  #categorias .categoria-3 .img-logo {
    width: 100%;
    margin: 0px;
    margin-top: 40px;
  }
  #categorias .categoria-4 {
    width: 95%;
  }
  #categorias .categoria-4 .img-logo {
    width: 100%;
    margin: 0px;
    margin-top: 40px;
  }
  .footer-principal .nav-footer {
    display: flex;
    width: 100%;
    margin-top: 150px;
  }
  .footer-principal .nav-footer .footer-nav {
    width: 100%;
  }
  .footer-principal .nav-footer .footer-nav .nav-logo-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    justify-content: space-around;
  }
  .footer-principal .nav-footer .footer-nav .nav-logo-footer .url-footer {
    display: flex;
    justify-content: center;
  }
  .footer-principal .nav-footer .footer-final {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .footer-principal .nav-footer .footer-final .footer-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .footer-principal .nav-footer .footer-final .footer-responsive .parrafo-gps {
    width: 320px;
    font-size: 10px;
    padding: 5px;
    margin-top: 50px;
    text-align: center;
  }
  .footer-principal .nav-footer .footer-final .footer-responsive #map {
    width: 320px;
    padding: 5px;
  }
  #paginaslushobox {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 30px;
    align-items: first baseline;
    justify-content: first baseline;
    margin: 10px 10px;
    grid-template-areas: "gps item1 item2 item3" "gps item4 item5 item6" "gps item7 item7 item7";
  }
  #paginaslushobox {
    margin: 0px;
  }
  #paginaslushobox .mapa .paginas-gps {
    font-size: 10px;
    margin: 0px;
    margin-top: 100px;
  }
  #paginaslushobox .mapa #gps {
    margin: 0px;
    width: 100%;
    margin-top: 20px;
    height: 1500px;
  }
  #paginaslushobox .item1 .img-paginas {
    height: 300px;
    margin-top: 15px;
  }
  #paginaslushobox .item1 .descript .descripcion {
    width: 300px;
    font-size: 20px;
  }
  #paginaslushobox .item2 .img-paginas {
    height: 300px;
    margin-top: 15px;
  }
  #paginaslushobox .item2 .img-paginas-correccion {
    height: 300px;
    margin-top: 15px;
    width: 300px;
  }
  #paginaslushobox .item2 .descript .descripcion {
    width: 300px;
    font-size: 20px;
  }
  #paginaslushobox .item3 .img-paginas {
    height: 300px;
    margin-top: 15px;
  }
  #paginaslushobox .item3 .img-paginas-correccion {
    height: 300px;
    margin-top: 15px;
    width: 300px;
  }
  #paginaslushobox .item3 .descript .descripcion {
    width: 300px;
    font-size: 20px;
  }
  #paginaslushobox .item4 .img-paginas {
    height: 300px;
    margin-top: 15px;
  }
  #paginaslushobox .item4 .img-paginas-correccion {
    height: 300px;
    margin-top: 15px;
    width: 300px;
  }
  #paginaslushobox .item4 .descript .descripcion {
    width: 300px;
    font-size: 20px;
  }
  #paginaslushobox .item5 .img-paginas {
    height: 300px;
    margin-top: 15px;
  }
  #paginaslushobox .item5 .img-paginas-correccion {
    height: 300px;
    margin-top: 15px;
    width: 300px;
  }
  #paginaslushobox .item5 .descript .descripcion {
    width: 300px;
    font-size: 20px;
  }
  #paginaslushobox .item6 .img-paginas {
    height: 300px;
    margin-top: 15px;
  }
  #paginaslushobox .item6 .img-paginas-correccion {
    height: 300px;
    margin-top: 15px;
    width: 300px;
  }
  #paginaslushobox .item6 .descript .descripcion {
    width: 300px;
    font-size: 20px;
  }
  #paginaslushobox .item7 .img-paginas {
    height: 300px;
    margin-top: 15px;
  }
  #paginaslushobox .item7 .descript .descripcion {
    width: 300px;
    font-size: 20px;
  }
  .contacto-vh {
    width: 100%;
    margin-top: 54px;
  }
  .contacto-vh .h-principal .main-contacto {
    width: 100%;
  }
  .contacto-vh .contacto-flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0px;
    margin: 0px;
    align-items: baseline;
    gap: 5%;
  }
  .contacto-vh .contacto-flex .contactos-predeterminados {
    width: 40%;
    padding: 0;
  }
  .contacto-vh .contacto-flex .info-relleno {
    width: 50%;
  }
  .contacto-vh .contacto-flex .info-relleno .informacion-cliente {
    margin: 0px;
    padding: 0px;
    display: grid;
    width: 100%;
    margin-left: 10px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 10px;
    align-items: first baseline;
    justify-content: first baseline;
    grid-template-areas: "info" "nombre" "correo" "celular" "mensaje";
  }
  .contacto-vh .contacto-flex .info-relleno .informacion-cliente .nombre {
    padding: 2px;
    font-size: 10px;
  }
  .contacto-vh .contacto-flex .info-relleno .informacion-cliente .celular {
    padding: 2px;
    font-size: 10px;
  }
  .contacto-vh .contacto-flex .info-relleno .informacion-cliente .correo {
    padding: 2px;
    font-size: 10px;
  }
  .contacto-vh .contacto-flex .info-relleno .informacion-cliente .mensaje {
    padding: 2px;
    font-size: 10px;
  }
  .list_chekbox {
    display: none;
  }
  .list_chekbox:checked + .nav-principal {
    height: calc(50vh - 54px);
  }
  .list_icon {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .nav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .nav-container .nav-cel {
    width: 100%;
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    padding: 2px 10px;
  }
  .nav-container .nav-cel .banner-container {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    position: relative;
  }
  .nav-container .nav-cel .banner-container .nombre-logo {
    font-size: 20px;
  }
  .nav-container .nav-cel .banner-container .logo {
    width: 50px;
  }
  .nav-container .nav-cel .banner-container .list_chekbox {
    display: none;
  }
  .nav-container .nav-cel .nav-pgrande {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
  }
  .nav-container .nav-cel .nav-pgrande .banner-account .logo {
    width: 50px;
  }
  .nav-container .nav-cel .nav-pgrande .nav-principal {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0px;
    align-items: center;
  }
  .nav-container .nav-cel .nav-pgrande .nav-principal .nav-url {
    font-size: 10px;
  }
  .list_chekbox:checked + .nav-principal {
    height: calc(50vh - 54px);
  }
  .principal-vh .vhflex {
    width: 100%;
  }
  .principal-vh .vhflex .bannerrigth #main {
    width: 100%;
    font-size: 35px;
  }
  .principal-vh .vhflex .bannerrigth #mainp {
    width: 100%;
    font-size: 20px;
  }
  .principal-vh .vhflex #carouselExampleSlidesOnly .carousel-inner .carousel-item .img-carrusel {
    width: 300px;
    height: 300px;
  }
  #categorias {
    width: 100%;
    margin-left: 0;
  }
  #categorias .categoria-1 {
    width: 95%;
  }
  #categorias .categoria-1 .img-logo {
    width: 100%;
    margin: 0px;
    margin-top: 40px;
    margin-left: 10px;
  }
  #categorias .categoria-2 {
    width: 95%;
  }
  #categorias .categoria-2 .img-logo {
    width: 100%;
    margin: 0px;
    margin-top: 40px;
    margin-left: 10px;
  }
  #categorias .categoria-3 {
    width: 95%;
  }
  #categorias .categoria-3 .img-logo {
    width: 100%;
    margin: 0px;
    margin-top: 40px;
    margin-left: 10px;
  }
  #categorias .categoria-4 {
    width: 95%;
  }
  #categorias .categoria-4 .img-logo {
    width: 100%;
    margin: 0px;
    margin-top: 40px;
    margin-left: 10px;
  }
  #categorias {
    display: grid;
    width: 100%;
    grid-template-areas: "categoria-1 categoria-2" "categoria-3 categoria-4";
    justify-content: center;
  }
  .footer-principal .nav-footer {
    display: flex;
    width: 100%;
    margin-top: 150px;
  }
  .footer-principal .nav-footer .footer-nav {
    width: 100%;
  }
  .footer-principal .nav-footer .footer-nav .nav-logo-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    justify-content: space-around;
  }
  .footer-principal .nav-footer .footer-nav .nav-logo-footer .url-footer {
    display: flex;
    justify-content: center;
  }
  .footer-principal .nav-footer .footer-final {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .footer-principal .nav-footer .footer-final .footer-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .footer-principal .nav-footer .footer-final .footer-responsive .parrafo-gps {
    width: 700px;
    font-size: 20px;
    padding: 5px;
    margin-top: 50px;
    text-align: center;
    color: white;
  }
  .footer-principal .nav-footer .footer-final .footer-responsive .footer {
    padding: 10px 25px;
    text-decoration: none;
    color: white;
  }
  .footer-principal .nav-footer .footer-final .footer-responsive .footer:hover {
    color: red;
  }
  .footer-principal .nav-footer .footer-final .footer-responsive #map {
    width: 700px;
    height: 200px;
    padding: 5px;
  }
  #paginaslushobox {
    margin: 0px;
  }
  #paginaslushobox .mapa .paginas-gps {
    font-size: 10px;
    margin: 0px;
    margin-top: 100px;
  }
  #paginaslushobox .mapa #gps {
    margin: 0px;
    width: 100%;
    margin-top: 20px;
    height: 1500px;
  }
  #paginaslushobox .item1 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item1 .descript .descripcion {
    width: 300px;
  }
  #paginaslushobox .item2 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item2 .img-paginas-correccion {
    height: 150px;
    margin-top: 15px;
    width: 200px;
  }
  #paginaslushobox .item2 .descript .descripcion {
    width: 300px;
  }
  #paginaslushobox .item3 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item3 .img-paginas-correccion {
    height: 150px;
    margin-top: 15px;
    width: 200px;
  }
  #paginaslushobox .item3 .descript .descripcion {
    width: 300px;
  }
  #paginaslushobox .item4 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item4 .img-paginas-correccion {
    height: 150px;
    margin-top: 15px;
    width: 200px;
  }
  #paginaslushobox .item4 .descript .descripcion {
    width: 300px;
  }
  #paginaslushobox .item5 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item5 .img-paginas-correccion {
    height: 150px;
    margin-top: 15px;
    width: 200px;
  }
  #paginaslushobox .item5 .descript .descripcion {
    width: 300px;
  }
  #paginaslushobox .item6 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item6 .img-paginas-correccion {
    height: 150px;
    margin-top: 15px;
    width: 200px;
  }
  #paginaslushobox .item6 .descript .descripcion {
    width: 300px;
  }
  #paginaslushobox .item7 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item7 .descript .descripcion {
    width: 300px;
  }
  #paginaslushobox {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 30px;
    align-items: first baseline;
    justify-content: first baseline;
    margin: 10px 10px;
    grid-template-areas: "gps item1 item2 item3" "gps item4 item5 item6" "gps item7 item7 item7";
  }
  .contacto-vh {
    width: 100%;
    margin-top: 54px;
  }
  .contacto-vh .h-principal .main-contacto {
    width: 100%;
    padding: 0px 50px;
    margin-top: 30px;
  }
  .contacto-vh .contacto-flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0px;
    margin: 0px;
    align-items: baseline;
    gap: 5%;
  }
  .contacto-vh .contacto-flex .contactos-predeterminados {
    width: 40%;
    padding: 0;
  }
  .contacto-vh .contacto-flex .info-relleno {
    width: 50%;
  }
  .contacto-vh .contacto-flex .info-relleno .informacion-cliente {
    margin: 0px;
    padding: 0px;
    display: grid;
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 10px;
    align-items: first baseline;
    justify-content: first baseline;
    grid-template-areas: "info" "nombre" "correo" "celular" "mensaje";
  }
  .contacto-vh .contacto-flex .info-relleno .informacion-cliente .nombre {
    padding: 2px;
    font-size: 10px;
  }
  .contacto-vh .contacto-flex .info-relleno .informacion-cliente .celular {
    padding: 2px;
    font-size: 10px;
  }
  .contacto-vh .contacto-flex .info-relleno .informacion-cliente .correo {
    padding: 2px;
    font-size: 10px;
  }
  .contacto-vh .contacto-flex .info-relleno .informacion-cliente .mensaje {
    padding: 2px;
    font-size: 10px;
  }
  .list_icon {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .nav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .nav-container .nav-cel {
    width: 100%;
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    padding: 2px 10px;
  }
  .nav-container .nav-cel .banner-container {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    position: relative;
  }
  .nav-container .nav-cel .nav-pgrande {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
  }
  .nav-container .nav-cel .nav-pgrande .nav-principal {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0px;
    align-items: center;
    height: 30px;
  }
  .nav-container .nav-cel .nav-pgrande .nav-principal .nav-url {
    font-size: 10px;
  }
  .principal-vh .vhflex {
    width: 100%;
  }
  .principal-vh .vhflex .bannerrigth #main {
    width: 100%;
    font-size: 30px;
    margin-top: 40px;
  }
  .principal-vh .vhflex .bannerrigth #mainp {
    width: 100%;
    font-size: 20px;
  }
  .principal-vh #carouselExampleSlidesOnly .carousel-inner .carousel-item .img-carrusel {
    width: auto;
    height: 300px;
  }
  #categorias {
    display: grid;
    width: 100%;
    grid-template-areas: "categoria-1" "categoria-2" "categoria-3" "categoria-4";
    justify-content: center;
  }
  #categorias {
    width: 100%;
    margin-left: 0;
  }
  #categorias .categoria-1 {
    width: 95%;
  }
  #categorias .categoria-1 .img-logo {
    width: 100%;
    margin: 0px;
    margin-top: 40px;
  }
  #categorias .categoria-2 {
    width: 95%;
  }
  #categorias .categoria-2 .img-logo {
    width: 100%;
    margin: 0px;
    margin-top: 40px;
  }
  #categorias .categoria-3 {
    width: 95%;
  }
  #categorias .categoria-3 .img-logo {
    width: 100%;
    margin: 0px;
    margin-top: 40px;
  }
  #categorias .categoria-4 {
    width: 95%;
  }
  #categorias .categoria-4 .img-logo {
    width: 100%;
    margin: 0px;
    margin-top: 40px;
  }
  .footer-principal .nav-footer {
    display: flex;
    width: 100%;
    margin-top: 300px;
  }
  .footer-principal .nav-footer .footer-nav {
    width: 100%;
  }
  .footer-principal .nav-footer .footer-nav .nav-logo-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
  }
  .footer-principal .nav-footer .footer-nav .nav-logo-footer .url-footer {
    display: flex;
    justify-content: center;
  }
  .footer-principal .nav-footer .footer-nav .nav-logo-footer .url-footer .footer {
    text-decoration: none;
    color: white;
  }
  .footer-principal .nav-footer .footer-final {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .footer-principal .nav-footer .footer-final .footer-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .footer-principal .nav-footer .footer-final .footer-responsive .parrafo-gps {
    width: 700px;
    font-size: 25px;
    padding: 5px;
    margin-top: 50px;
    text-align: center;
    color: white;
  }
  .footer-principal .nav-footer .footer-final .footer-responsive .parrafo-gps .footer {
    text-decoration: none;
    color: white;
    padding: 10px 25px;
  }
  .footer-principal .nav-footer .footer-final .footer-responsive .parrafo-gps .footer:hover {
    color: red;
  }
  .footer-principal .nav-footer .footer-final .footer-responsive #map {
    width: 700px;
    height: 200px;
    padding: 5px;
  }
  #paginaslushobox {
    margin: 0px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 30px;
    align-items: first baseline;
    justify-content: first baseline;
    margin: 10px 10px;
    grid-template-areas: "gps gps" "item1 item2" "item3 item4" "item5 item6" "item7 item7";
  }
  #paginaslushobox .mapa .paginas-gps {
    font-size: 10px;
    margin: 0px;
    margin-top: 100px;
  }
  #paginaslushobox .mapa #gps {
    margin: 0px;
    width: 100%;
    margin-top: 20px;
    height: 200px;
  }
  #paginaslushobox .item1 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item1 .descript .descripcion {
    width: 300px;
  }
  #paginaslushobox .item2 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item2 .img-paginas-correccion {
    height: 150px;
    margin-top: 15px;
    width: 200px;
  }
  #paginaslushobox .item2 .descript .descripcion {
    width: 300px;
  }
  #paginaslushobox .item3 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item3 .img-paginas-correccion {
    height: 150px;
    margin-top: 15px;
    width: 200px;
  }
  #paginaslushobox .item3 .descript .descripcion {
    width: 300px;
  }
  #paginaslushobox .item4 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item4 .img-paginas-correccion {
    height: 150px;
    margin-top: 15px;
    width: 200px;
  }
  #paginaslushobox .item4 .descript .descripcion {
    width: 300px;
  }
  #paginaslushobox .item5 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item5 .img-paginas-correccion {
    height: 150px;
    margin-top: 15px;
    width: 200px;
  }
  #paginaslushobox .item5 .descript .descripcion {
    width: 300px;
  }
  #paginaslushobox .item6 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item6 .img-paginas-correccion {
    height: 150px;
    margin-top: 15px;
    width: 200px;
  }
  #paginaslushobox .item6 .descript .descripcion {
    width: 300px;
  }
  #paginaslushobox .item7 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item7 .descript .descripcion {
    width: 300px;
  }
  .contacto-vh {
    width: 100%;
    margin-top: 50px;
  }
  .contacto-vh .h-principal .main-contacto {
    width: 100%;
  }
  .contacto-vh .contacto-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    margin: 0px;
    align-items: center;
  }
  .contacto-vh .contacto-flex .contactos-predeterminados {
    width: 80%;
    padding: 0;
  }
  .contacto-vh .contacto-flex .info-relleno {
    width: 80%;
  }
  .contacto-vh .contacto-flex .info-relleno .informacion-cliente {
    margin: 0px;
    padding: 0px;
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 10px;
    align-items: first baseline;
    justify-content: first baseline;
    grid-template-areas: "nombre celular" "correo correo" "mensaje mensaje";
  }
  .contacto-vh .contacto-flex .info-relleno .informacion-cliente .nombre {
    padding: 2px;
    font-size: 10px;
  }
  .contacto-vh .contacto-flex .info-relleno .informacion-cliente .celular {
    padding: 2px;
    font-size: 10px;
  }
  .contacto-vh .contacto-flex .info-relleno .informacion-cliente .correo {
    padding: 2px;
    font-size: 10px;
  }
  .contacto-vh .contacto-flex .info-relleno .informacion-cliente .mensaje {
    padding: 2px;
    font-size: 10px;
  }
  .list_chekbox {
    display: none;
  }
  .list_chekbox:checked + .nav-principal {
    height: calc(50vh - 54px);
  }
  .list_icon {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .nav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .nav-container .nav-cel {
    width: 100%;
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    padding: 7px 10px;
  }
  .nav-container .nav-cel .banner-container {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    position: relative;
  }
  .nav-container .nav-cel .banner-container .nombre-logo {
    font-size: 15px;
  }
  .nav-container .nav-cel .nav-pgrande .list_icon {
    display: block;
    color: white;
    cursor: pointer;
  }
  .nav-container .nav-cel .nav-pgrande .list_chekbox:checked + .nav-principal {
    height: calc(50vh - 54px);
  }
  .nav-container .nav-cel .nav-pgrande .nav-principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;
    position: absolute;
    background-color: rgb(39, 39, 39);
    top: 54px;
    height: 0;
    overflow: hidden;
    gap: 5px;
    left: 0;
    transition: all 0.4s;
  }
  .nav-container .nav-cel .nav-pgrande .nav-principal .nav-url {
    font-size: 10px;
  }
  .nav-container .nav-cel .nav-pgrande .banner-account {
    display: none;
  }
  .principal-vh .vhflex {
    width: 100%;
  }
  .principal-vh .vhflex .bannerrigth #main {
    width: 100%;
    font-size: 25px;
  }
  .principal-vh .vhflex .bannerrigth #mainp {
    width: 100%;
    font-size: 14px;
  }
  .principal-vh .vhflex #carouselExampleSlidesOnly .carousel-innerv .carousel-item .img-carrusel {
    width: auto;
    height: 300px;
  }
  #categorias {
    width: 100%;
    margin-left: 0;
  }
  #categorias {
    width: 100%;
    margin-left: 0;
    display: grid;
    width: 100%;
    grid-template-areas: "categoria-1" "categoria-2" "categoria-3" "categoria-4";
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 100px;
  }
  #categorias .categoria-1 {
    width: 100%;
  }
  #categorias .categoria-1 .img-logo {
    margin: 0px;
    margin-top: 40px;
  }
  #categorias .categoria-2 {
    width: 100%;
  }
  #categorias .categoria-2 .img-logo {
    margin: 0px;
    margin-top: 40px;
  }
  #categorias .categoria-3 {
    width: 100%;
  }
  #categorias .categoria-3 .img-logo {
    margin: 0px;
    margin-top: 40px;
  }
  #categorias .categoria-4 {
    width: 100%;
  }
  #categorias .categoria-4 .img-logo {
    margin: 0px;
    margin-top: 40px;
  }
  .footer-principal .nav-footer {
    display: flex;
    width: 100%;
    margin-top: 340px;
  }
  .footer-principal .nav-footer .footer-nav {
    width: 100%;
  }
  .footer-principal .nav-footer .footer-nav .nav-logo-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
  }
  .footer-principal .nav-footer .footer-nav .nav-logo-footer .url-footer {
    display: none;
  }
  .footer-principal .nav-footer .footer-final {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .footer-principal .nav-footer .footer-final .footer-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .footer-principal .nav-footer .footer-final .footer-responsive .parrafo-gps {
    width: 300px;
    font-size: 20px;
    padding: 5px;
    margin-top: 50px;
    text-align: center;
    color: white;
  }
  .footer-principal .nav-footer .footer-final .footer-responsive .parrafo-gps .footer {
    text-decoration: none;
    color: white;
  }
  .footer-principal .nav-footer .footer-final .footer-responsive .parrafo-gps .footer:hover {
    color: red;
  }
  .footer-principal .nav-footer .footer-final .footer-responsive #map {
    width: 320px;
    padding: 5px;
  }
  #paginaslushobox {
    margin: 0px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 30px;
    align-items: first baseline;
    justify-content: first baseline;
    margin: 10px 10px;
    grid-template-areas: "gps gps" "item1 item2" "item3 item4" "item5 item6" "item7 item7";
  }
  #paginaslushobox .mapa .paginas-gps {
    font-size: 10px;
    margin: 0px;
    margin-top: 100px;
  }
  #paginaslushobox .mapa #gps {
    margin: 0px;
    width: 100%;
    margin-top: 20px;
    height: auto;
  }
  #paginaslushobox .item1 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item1 .descript .descripcion {
    width: 300px;
  }
  #paginaslushobox .item2 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item2 .img-paginas-correccion {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item2 .descript .descripcion {
    width: 300px;
  }
  #paginaslushobox .item3 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item3 .img-paginas-correccion {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item3 .descript .descripcion {
    width: 300px;
  }
  #paginaslushobox .item4 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item4 .img-paginas-correccion {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item4 .descript .descripcion {
    width: 300px;
  }
  #paginaslushobox .item5 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item5 .img-paginas-correccion {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item5 .descript .descripcion {
    width: 300px;
  }
  #paginaslushobox .item6 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item6 .img-paginas-correccion {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item6 .descript .descripcion {
    width: 300px;
  }
  #paginaslushobox .item7 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item7 .descript .descripcion {
    width: 300px;
  }
  .contacto-vh {
    width: 100%;
    margin-top: 54px;
  }
  .contacto-vh .h-principal .main-contacto {
    width: 100%;
  }
  .contacto-vh .contacto-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    margin: 0px;
    align-items: center;
  }
  .contacto-vh .contacto-flex .contactos-predeterminados {
    width: 90%;
    padding: 0;
    margin-top: 50px;
  }
  .contacto-vh .contacto-flex .info-relleno {
    width: 90%;
  }
  .contacto-vh .contacto-flex .info-relleno .informacion-cliente {
    margin: 0px;
    padding: 0px;
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 10px;
    align-items: first baseline;
    justify-content: first baseline;
    grid-template-areas: "nombre celular" "correo correo" "mensaje mensaje";
  }
  .contacto-vh .contacto-flex .info-relleno .informacion-cliente .nombre {
    padding: 2px;
    font-size: 15px;
  }
  .contacto-vh .contacto-flex .info-relleno .informacion-cliente .celular {
    padding: 2px;
    font-size: 15px;
  }
  .contacto-vh .contacto-flex .info-relleno .informacion-cliente .correo {
    padding: 2px;
    font-size: 15px;
  }
  .contacto-vh .contacto-flex .info-relleno .informacion-cliente .mensaje {
    padding: 2px;
    font-size: 15px;
  }
  .list_chekbox:checked + .nav-principal {
    height: calc(100vh - 54px);
  }
  .list_icon {
    display: block;
    color: white;
    cursor: pointer;
  }
}
@media screen and (max-width: 576px) {
  .nav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .nav-container .nav-cel {
    width: 100%;
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    padding: 7px 10px;
  }
  .nav-container .nav-cel .banner-container {
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    position: relative;
  }
  .nav-container .nav-cel .banner-container .logo {
    margin-left: 20px;
  }
  .nav-container .nav-cel .banner-container .nombre-logo {
    display: none;
    background-color: black;
  }
  .nav-container .nav-cel .nav-pgrande .list_icon {
    display: block;
    color: white;
    cursor: pointer;
  }
  .nav-container .nav-cel .nav-pgrande .list_chekbox {
    display: none;
  }
  .nav-container .nav-cel .nav-pgrande .list_chekbox .list_chekbox:checked + .nav-principal {
    height: calc(50vh - 54px);
  }
  .nav-container .nav-cel .nav-pgrande .nav-principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;
    position: absolute;
    background-color: rgb(39, 39, 39);
    top: 54px;
    height: 0;
    overflow: hidden;
    gap: 5px;
    left: 0;
    transition: all 0.4s;
  }
  .nav-container .nav-cel .nav-pgrande .nav-principal .nav-url {
    font-size: 10px;
  }
  .nav-container .nav-cel .nav-pgrande .banner-account {
    display: none;
  }
  .principal-vh .vhflex {
    width: 100%;
  }
  .principal-vh .vhflex .bannerrigth #main {
    width: 100%;
    font-size: 25px;
    margin-top: 50px;
  }
  .principal-vh .vhflex .bannerrigth #mainp {
    width: 100%;
    font-size: 14px;
  }
  .principal-vh .vhflex #carouselExampleSlidesOnly .carousel-inner .carousel-item .img-carrusel {
    width: auto;
    height: 250px;
  }
  #categorias {
    width: 100%;
    margin-left: 0;
    display: grid;
    width: 100%;
    grid-template-areas: "categoria-1" "categoria-2" "categoria-3" "categoria-4";
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 100px;
  }
  #categorias .categoria-1 {
    width: 100%;
  }
  #categorias .categoria-1 .img-logo {
    border-radius: 10px;
    width: 90%;
    height: auto;
    border: 1px black solid;
    transition: transform 0.3s ease;
  }
  #categorias .categoria-2 {
    width: 100%;
  }
  #categorias .categoria-2 #categorias .categoria-2 .img-logo {
    border-radius: 10px;
    width: 90%;
    height: auto;
    border: 1px black solid;
    transition: transform 0.3s ease;
    margin: 20px 5%;
  }
  #categorias .categoria-3 {
    width: 100%;
  }
  #categorias .categoria-3 #categorias .categoria-2 .img-logo {
    border-radius: 10px;
    width: 90%;
    height: auto;
    border: 1px black solid;
    transition: transform 0.3s ease;
    margin: 20px 5%;
  }
  #categorias .categoria-4 {
    width: 100%;
  }
  #categorias .categoria-4 #categorias .categoria-2 .img-logo {
    border-radius: 10px;
    width: 90%;
    height: auto;
    border: 1px black solid;
    transition: transform 0.3s ease;
    margin: 20px 5%;
  }
  .footer-principal .nav-footer {
    display: flex;
    width: 100%;
    margin-top: 200px;
  }
  .footer-principal .nav-footer .footer-nav {
    width: 100%;
  }
  .footer-principal .nav-footer .footer-nav .nav-logo-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footer-principal .nav-footer .footer-nav .url-footer {
    display: none;
  }
  .footer-principal .nav-footer .footer-nav .footer-final .footer-responsive #map {
    width: 95%;
    height: 25%;
  }
  .footer-principal .nav-footer .footer-nav .footer-final .footer-responsive .parrafo-gps {
    width: 100%;
    font-size: 14px;
    padding: 5px;
    color: white;
  }
  .footer-principal .nav-footer .footer-nav .footer-final .footer-responsive .footer {
    text-decoration: none;
    color: white;
  }
  #paginaslushobox {
    margin: 0px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    gap: 30px;
    align-items: first baseline;
    justify-content: first baseline;
    margin: 0px 10px;
    grid-template-areas: "gps" "item1" "item2" "item3" "item4" "item5" "item6" "item7";
  }
  #paginaslushobox .mapa .paginas-gps {
    font-size: 10px;
    margin: 0px;
    margin-top: 100px;
  }
  #paginaslushobox .mapa #gps {
    margin: 0px;
    width: 100%;
    margin-top: 20px;
    height: auto;
  }
  #paginaslushobox .item1 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item1 .descript .descripcion {
    width: 300px;
  }
  #paginaslushobox .item2 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item2 .img-paginas-correccion {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item2 .descript .descripcion {
    width: 300px;
  }
  #paginaslushobox .item3 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item3 .img-paginas-correccion {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item3 .descript .descripcion {
    width: 300px;
  }
  #paginaslushobox .item4 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item4 .img-paginas-correccion {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item4 .descript .descripcion {
    width: 300px;
  }
  #paginaslushobox .item5 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item5 .img-paginas-correccion {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item5 .descript .descripcion {
    width: 300px;
  }
  #paginaslushobox .item6 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item6 .img-paginas-correccion {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item6 .descript .descripcion {
    width: 300px;
  }
  #paginaslushobox .item7 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item7 .descript .descripcion {
    width: 300px;
  }
  .contacto-vh {
    width: 100%;
    margin-top: 54px;
  }
  .contacto-vh .h-principal .main-contacto {
    width: 100%;
  }
  .contacto-vh .contacto-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    margin: 0px;
    align-items: center;
  }
  .contacto-vh .contacto-flex .contactos-predeterminados {
    width: 90%;
    padding: 5px;
  }
  .contacto-vh .contacto-flex .contactos-predeterminados .info-contacto {
    display: none;
  }
  .contacto-vh .contacto-flex .info-relleno {
    width: 90%;
  }
  .contacto-vh .contacto-flex .info-relleno .informacion-cliente {
    margin: 0px;
    padding: 0px;
    display: grid;
    width: 100%;
    margin-left: 10px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 10px;
    align-items: first baseline;
    justify-content: first baseline;
    grid-template-areas: "info" "nombre" "correo" "celular" "mensaje";
  }
  .contacto-vh .contacto-flex .info-relleno .informacion-cliente .nombre {
    padding: 2px;
    font-size: 10px;
  }
  .contacto-vh .contacto-flex .info-relleno .informacion-cliente .celular {
    padding: 2px;
    font-size: 10px;
  }
  .contacto-vh .contacto-flex .info-relleno .informacion-cliente .correo {
    padding: 2px;
    font-size: 10px;
  }
  .contacto-vh .contacto-flex .info-relleno .informacion-cliente .mensaje {
    padding: 2px;
    font-size: 10px;
  }
}
@media screen and (max-width: 320px) {
  .nav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .nav-container .nav-cel {
    width: 100%;
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    padding: 7px 10px;
  }
  .nav-container .nav-cel .banner-container {
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    position: relative;
  }
  .nav-container .nav-cel .nav-pgrande .list_icon {
    display: block;
    color: white;
    cursor: pointer;
  }
  .nav-container .nav-cel .nav-pgrande .list_chekbox {
    display: none;
  }
  .nav-container .nav-cel .nav-pgrande .list_chekbox .list_chekbox:checked + .nav-principal {
    height: calc(50vh - 54px);
  }
  .nav-container .nav-cel .nav-pgrande .nav-principal {
    width: 100% px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;
    position: absolute;
    background-color: rgb(39, 39, 39);
    top: 54px;
    height: 0;
    overflow: hidden;
    gap: 5px;
    left: 0;
    transition: all 0.4s;
  }
  .nav-container .nav-cel .nav-pgrande .nav-principal .nav-url {
    font-size: 10px;
  }
  .nav-container .nav-cel .nav-pgrande .banner-account {
    display: none;
  }
  .principal-vh .vhflex {
    width: 100%;
  }
  .principal-vh .vhflex .bannerrigth #main {
    width: 320px;
    font-size: 25px;
    margin-top: 25px;
  }
  .principal-vh .vhflex .bannerrigth #mainp {
    width: 320px;
    font-size: 14px;
  }
  .principal-vh .vhflex #carouselExampleSlidesOnly .carousel-inner .carousel-item .img-carrusel {
    width: 300px;
    height: 250px;
  }
  #categorias {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  #categorias .categoria-1 .img-logo {
    margin: 0px;
    height: 200px;
    width: 95%;
    margin-top: 40px;
  }
  #categorias .categoria-2 .img-logo {
    margin: 0px;
    height: 200px;
    width: 95%;
    margin-top: 40px;
  }
  #categorias .categoria-3 .img-logo {
    margin: 0px;
    height: 200px;
    width: 95%;
    margin-top: 40px;
  }
  #categorias .categoria-4 .img-logo {
    margin: 0px;
    height: 200px;
    width: 95%;
    margin-top: 40px;
  }
  .footer-principal .nav-footer {
    margin-top: 400px;
    display: flex;
    width: 320px;
  }
  .footer-principal .nav-footer .footer-nav {
    width: 320px;
  }
  .footer-principal .nav-footer .footer-nav .nav-logo-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footer-principal .nav-footer .footer-nav .url-footer {
    display: none;
  }
  .footer-principal .nav-footer .footer-final .footer-responsive {
    width: 320px;
  }
  .footer-principal .nav-footer .footer-final .footer-responsive .parrafo-gps {
    width: 320px;
    font-size: 10px;
    padding: 5px;
    color: white;
  }
  .footer-principal .nav-footer .footer-final .footer-responsive #map {
    height: 200px;
    width: 300px;
    padding: 5px;
  }
  #paginaslushobox {
    margin: 0px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    gap: 30px;
    align-items: first baseline;
    justify-content: first baseline;
    margin-left: 10px;
    grid-template-areas: "gps" "item1" "item2" "item3" "item4" "item5" "item6" "item7";
  }
  #paginaslushobox .mapa {
    width: 80%;
  }
  #paginaslushobox .mapa .paginas-gps {
    font-size: 10px;
    margin: 0px;
    margin-top: 100px;
  }
  #paginaslushobox .mapa #gps {
    margin: 0px;
    width: 300px;
    margin-top: 20px;
    height: auto;
  }
  #paginaslushobox .item1 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item1 .descript .descripcion {
    width: 300px;
  }
  #paginaslushobox .item2 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item2 .img-paginas-correccion {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item2 .descript .descripcion {
    width: 300px;
  }
  #paginaslushobox .item3 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item3 .img-paginas-correccion {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item3 .descript .descripcion {
    width: 300px;
  }
  #paginaslushobox .item4 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item4 .img-paginas-correccion {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item4 .descript .descripcion {
    width: 300px;
  }
  #paginaslushobox .item5 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item5 .img-paginas-correccion {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item5 .descript .descripcion {
    width: 300px;
  }
  #paginaslushobox .item6 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item6 .img-paginas-correccion {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item6 .descript .descripcion {
    width: 300px;
  }
  #paginaslushobox .item7 .img-paginas {
    height: 150px;
    margin-top: 15px;
  }
  #paginaslushobox .item7 .descript .descripcion {
    width: 300px;
  }
  .footer-principal .nav-footer {
    margin-top: 300px;
  }
  .footer-principal .nav-footer .footer-final {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  .contacto-vh {
    width: 100%;
    margin-top: 54px;
  }
  .contacto-vh .h-principal .main-contacto {
    display: none;
  }
  .contacto-vh .contacto-flex {
    display: flex;
    flex-direction: column;
    width: 320px;
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
    align-items: center;
  }
  .contacto-vh .contacto-flex .contactos-predeterminados {
    width: 90%;
    padding: 5px;
  }
  .contacto-vh .contacto-flex .info-relleno {
    width: 90%;
  }
  .contacto-vh .contacto-flex .info-relleno .informacion-cliente {
    margin: 0px;
    padding: 0px;
    display: grid;
    width: 100%;
    margin-left: 0px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 10px;
    align-items: first baseline;
    justify-content: first baseline;
    grid-template-areas: "info" "nombre" "correo" "celular" "mensaje";
  }
  .contacto-vh .contacto-flex .info-relleno .informacion-cliente .nombre {
    padding: 2px;
    font-size: 10px;
  }
  .contacto-vh .contacto-flex .info-relleno .informacion-cliente .celular {
    padding: 2px;
    font-size: 10px;
  }
  .contacto-vh .contacto-flex .info-relleno .informacion-cliente .correo {
    padding: 2px;
    font-size: 10px;
  }
  .contacto-vh .contacto-flex .info-relleno .informacion-cliente .mensaje {
    padding: 2px;
    font-size: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
