.nav-footer {
    display: flex;
    background-color: black;
    flex-direction: column;

    .footer-nav {
        .nav-logo-footer {
            display: flex;
            justify-content: space-around;

            .logo-footer {
                height: 50px;
                margin-top: 40px;
                transition: transform 0.3s ease;
                &:hover {
                    transform: scale(1.3);
                }
            }

            .logo-footer-correccion {
                height: 50px;
                margin-top: 40px;
                border-radius: 75px;
                transition: transform 0.3s ease;
                &:hover {
                    transform: scale(1.3);
                }
            }
        }

        .url-footer {
            display: flex;
            justify-content: space-around;
            list-style: none;
            margin-top: 25px;

            .footer {
                text-decoration: none;
                font-size: 15px;
                color: #ffffff;
                &:hover {
                    color: #8d0801;
                }
            }
        }
    }

    .footer-final {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 45px;

        .footer-responsive {
            .parrafo-gps {
                font-family: "Tektur", sans-serif;
                font-size: 17px;
                color: white;
            }

            #map {
                width: 400px;
                height: 200px;
                border-radius: 10px;
                border: #8d0801;
            }
        }
    }

    .marca {
        .parrafo-marca {
            color: #ffffff;
            display: flex;
            justify-content: center;
            margin-top: 45px;
        }
    }
}