.nav-container {
    display: flex;
    background-color: black;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;

    .nav-cel {
        .banner-container {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            border-radius: 20px;
            font-size: 14px;

            .nombre-logo {
                color: #001427;
                text-decoration: none;
                font-weight: 700;
            }

            .logo {
                width: 40px;
                border-radius: 100px;
                margin-left: 10px;
            }

        }
    }

    .nav-pgrande {
        .banner-account {
            width: 10%;
            display: flex;
            justify-content: flex-end;
            margin-right: 20px;

            .logo {
                width: 40px;
                border-radius: 100px;
                margin-left: 10px;

                @media screen and (max-width: 768px) {
                    display: none;
                }
            }
        }

        .nav-principal {
            display: flex;
            list-style: none;
            width: 100%;
            justify-content: space-around;

            .nav-url {
                text-decoration: none;
                color: white;
                padding: 5px;
                margin-top: 10px;

                &:hover {
                    color: #8d0801;
                }
            }
        }
    }
}